/* The main board, this was used to create the "screen size" */
* {
  box-sizing: border-box;
}

.fullscreen {
  background: #D9D9D9;
}

/* Rectangle 2 */
/* Header */
.header {
  width: 100vw;
  height: 20vh;
  background: linear-gradient(0deg, #000000, #000000), #D9D9D9;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Rectangle 3 */
/* Main movie title card */
.movie-card {
  margin-top: 5vh;
  margin-left: 16vw;
  width: 68vw;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Rectangle 6 */
/* The little movie poster on the movie card */
.movie-poster{
  display:inline-block;
  margin-left: 2vw;
  margin-top: 2vh;
  width: 8vw;
  height: 14vh;
  background: #D9D9D9;
}

.movie-titlecard {
  font-family: Courier, 'Courier New';
  position: absolute;
  padding-left: 2vw;
  display: inline-block;
}

/* ctrl-v from w3schools page on Collapsible

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.synopsis {
  padding: 0 18px;
  display: block;
  background-color: white;
  position: relative;
}

h3 {
  text-decoration-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  background-color: black;
  padding: 10px;
}

.header-search {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 20px 0px 80px 0px;
}

.header-button {
  background-color: black;
  border-left-color: white;
  border-right-color: white;
  border-width: 0px 5px 0px 5px;
  color: white;
  position: relative;
  text-align: center;
  height: 60px;
}

.header-searchbar {
  background-color: gray;
  color: white;
  border-radius: 20px;
}

::placeholder {
  color: white;
  opacity: 1;
  padding: 10px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.header-link {
  color: white;
}

.addButton-icon {
  background-color: red;
  border-radius: 50%;
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 23px;
  right: 28px;
}

.EntryForm {
  max-width: 350px;
  padding: 10px;
  background-color: white;
}

#addForm {
  display: none;
  bottom: 0;
  right: 15px;
  border: 3px solid black;
  z-index: 9;  
  position: fixed;
}

.formLabels {
  padding: 5px;
}