/* The main board, this was used to create the "screen size" */


.fullscreen {
  background: #D9D9D9;
  width: 100%;
  height: 100%;
}

/* Header */
.header {
  width: 100%;
  height: 20%;
  background: linear-gradient(0deg, #000000, #000000), #D9D9D9;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main movie title card */
.movie-card {
  display: grid;
  grid-template-columns: 155px auto;
  margin-top: 5vh;
  margin-left: 16vw;
  width: 68vw;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: auto;
}

/* Rectangle 6 */
/* The little movie poster on the movie card */
.movie-poster{
  background: #D9D9D9;
  border: 3px;
  border-color: black;
  position: relative;
  margin: 10px;
}

.movie-titlecard {
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  width: auto;
  margin: 25px;
}

/*the body where all the titlecards appear*/
.content {
  height: 100%;
}

.logo {
  padding: 5px;
  font-family: Courier, monospace;
  color: white;
  text-align: center;
}

.loginText {
  text-align: right;
}

/* Style the collapsible content. Note: hidden by default */
.synopsis {
  position: relative;
  width: 100%;
  padding: 10px;
}

.synopsisField {
  height: 100%;
  width: 100%;
  overflow: hidden;
  resize: none;
}

h3 {
  text-decoration-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 24% 24% 24%;
  gap: 10px;
  background-color: black;
  padding: 10px;
}

.header-search {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 20px 0px 80px 0px;
  height: 20px;
}

.header-button {
  background-color: black;
  border-left-color: white;
  border-right-color: white;
  border-width: 0px 1px 0px 1px;
  color: white;
  text-align: center;
  height: 60px;
  width: 100%;
}

.header-searchbar {
  background-color: gray;
  color: white;
  border-radius: 20px;
}

::placeholder {
  color: white;
  opacity: 1;
  padding: 10px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.header-link {
  color: white;
}

.addButton-icon {
  background-color: red;
  border-radius: 50%;
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 23px;
  right: 28px;
}

.EntryForm {
  max-width: 350px;
  padding: 10px;
  background-color: white;
}

#addForm {
  display: none;
  bottom: 0;
  right: 15px;
  border: 3px solid black;
  z-index: 9;  
  position: fixed;
}

.formLabels {
  padding: 5px;
}

.header-button:active {
  background-color: red;
}

.header-button:hover {
  background-color: black;
  color: red;
  animation-name: navbarHover;
  animation-duration: 1s;
}

@keyframes navbarHover {
  from {background-color: white;}
  to { 
    background-color: red;
    color: black;
    border: 2px;
  }
}

@keyframes navbarSelect {
  from{

  }
  to {

  }
}